body, html{
  height:100%;
}
body{
  margin: 0px;

  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url('http://worldartsme.com/images/cartoon-kitchen-clipart-1.jpg');
  font-size: 18px;
  background-repeat: no-repeat;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}

img { /*max-height: 100px;
      max-width: 100px; */
      height: 100px;
      width: auto;


 }
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
/*  background: url('https://media.giphy.com/media/ZbBfdjFQ7f4nC/giphy.gif');
*/}

.growyDancer{
  
/*  background: url('https://media.giphy.com/media/ZbBfdjFQ7f4nC/giphy.gif');
*/}

.interactiveDancer {

}

.flippyDancer {
    animation: rotation 2s linear 0s infinite ;
}

.reverse {
  animation: rotation 2s linear 0s infinite reverse;
}

@keyframes shifty {
/*    0%   {left: 0px; top: 0px;}
    50%  {left: 200px; top: 0px;}
    100% {left: 0px; top: 0px;}
*/
  from {
        left: 0px;
       }
  to {  left: 200px;
   }
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes move {
  100% { 
    motion-offset: 100%;
    offset-distance: 100%;
  }
}


@keyframes grow {
    from {width: 10px; height: 10px}
    to {width: 100px; height: 100px}
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-60px, -20px) rotate(-30deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
}